.az-listening{
    display: flex;
    flex-direction: column;

    &__heading{
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-family: "Arial", sans-serif;
        margin: 0 auto;
        margin-top: 10px;
    }
    &__wrap{
        display: flex;
        max-width: 300px;
        justify-content: space-between;
        margin-top: 40px;

        &__text1{
            margin: 0;
            padding: 0;
            font-family: "Arial", sans-serif;
            font-size: 25px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        &__text2{
            margin: 0;
            padding: 0;
            font-family: "Arial", sans-serif;
            font-size: 25px;
            font-weight: bold;
        }
    }
    &__condition{
        margin: 0;
        padding: 0;
        margin-top: 30px;
        font-family: "Arial", sans-serif;
        font-size: 20px;
    }
    &__condition1{
        margin: 0;
        padding: 0;
        margin-top: 30px;
        font-family: "Arial", sans-serif;
        font-size: 25px;
        margin-bottom: 30px;

        &__span{
            text-transform: uppercase;
            font-weight: bold;
        }
    }


    &__exercise__1{
        display: flex;
        flex-direction: column;
        border: 3px solid black;
        margin-bottom: 100px;

        &__heading{
            margin: 0;
            padding: 0;
            margin: 0 auto;
            font-weight: bold;
            font-size: 30px;
            font-family: "Arial", sans-serif;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &__list{
            display: flex;
            flex-direction: column;

            &__item1{
                font-size: 20px;
                font-family: "Arial", sans-serif;
                font-weight: 500;
                margin-bottom: 15px;

            }
            &__item2{
                font-size: 20px;
                font-family: "Arial", sans-serif;
                font-weight: 500;
                margin-bottom: 15px;

                &__span{
                    color: red;
                    border: 3px solid red;
                    border-radius: 50%;
                    padding: 1px 5px 1px 5px;
                    font-size: 20px;
                    
                }

                &__input{
                    border: none;
                    background: none;
                    outline: none;
                    color: red;
                    font-weight: bold;
                }
            }
            &__item3{
                font-size: 20px;
                font-family: "Arial", sans-serif;
                font-weight: 500;
                margin-bottom: 15px;
            }
            &__item4{
                font-size: 20px;
                font-family: "Arial", sans-serif;
                font-weight: 500;
                margin-bottom: 15px;

                &__span{
                    color: red;
                    border: 3px solid red;
                    border-radius: 50%;
                    padding: 1px 5px 1px 5px;
                    font-size: 20px;
                }

                &__input{
                    border: none;
                    background: none;
                    outline: none;
                    color: red;
                    font-weight: bold;
                }
            }
        }
    }
}
#contactChoice11{
    margin-right: 10px;
}
#contactChoice22{
    margin-right: 10px;
}
#contactChoice33{
    margin-right: 10px;
}
.az-listening__exercise__2{
    display: flex;
    flex-direction: column;

    &__heading{
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-family: "Arial", sans-serif;
        font-weight: 500;
        margin-bottom: 15px;
        margin: 0 auto;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__text1{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 20px;
        font-family: "Arial", sans-serif;
        font-weight: 500;
    }
    &__radio__active{
        display: flex;
        flex-direction: column;
        align-self: center;

        &__wrap{
            display: flex;
            margin-bottom: 20px;
            &_b{
                margin-top: -4px;
                margin-right: 10px;
                font-weight: bold;
            }
            &_a{
                margin-top: -4px;
                margin-right: 10px;
                font-weight: bold;
            }
            &_c{
                margin-top: -4px;
                margin-right: 10px;
                font-weight: bold;
            }
            &__label{
                margin-top: -5px;
                
            }
        }
    }
}
#contactChoice2{
    margin-right: 5px;
}
#contactChoice1{
    margin-right: 5px;
}
#contactChoice3{
    margin-right: 5px;
}


// ! exercise 3
.active---mr{
    margin-right: 25px;
    font-weight: bold;
}
.az-listening__exercise__3{
   display: flex;
   flex-direction: column; 

   
   &__box{
        border: 3px solid black;  
        margin: 0 auto;
        position: relative;
        max-width: 400px;
        padding: 10px 60px;
        // margin-left: 450px;
        margin-top: 30px;
        margin-bottom: 30px;

        &__heading{
            // margin: 0;
            padding: 0;
            margin: 0 auto;
            // margin-left: 120px;
            font-family: "Arial", sans-serif;
            font-weight: bold;
            font-size: 20px;
            padding-top: 15px;
            padding-bottom: 10px;
        }

        &__text{
            margin: 0;
            padding: 0;
            font-weight: 500;
            font-family: "Arial", sans-serif;
            margin-bottom: 15px;
            margin-left: -30px;
        }
   }
}